<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new product</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">


    <!--popup body -->
    <div class="row">
      <div class="col-md-12">
        <form action="#">
          <input class="form-control" type="text" id="newProductSku" placeholder="SKU">

          <input class="form-control" type="text" id="newProductName" placeholder="Name">

          <select class="form-control" id="newProductType"  placeholder="Type" >
            <option  *ngFor="let type of typeValues | keyvalue" value="{{type.key}}">{{type.value}}</option>

          </select>

          <select class="form-control" id="newProductCustomerType"  placeholder="Customer  Type"  >
            <option  *ngFor="let type of customerTypeValues | keyvalue" value="{{type.key}}">{{type.value}}</option>

          </select>

          <input class="form-control" type="text" id="newProductValidValue" placeholder="ValidValue" [disabled]="true"> <!-- change-->

          <input class="form-control" type="text" id="newProductPrice" placeholder="Price" >

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="newProductAllowRecharge">
            <label class="form-check-label" for="newProductAllowRecharge">
              Allow recharge
            </label>
          </div>

          <input class="form-control" type="text" id="newProductRechargePrice" placeholder="Recharge price" [disabled]="true"> <!-- change-->

          <div class="row">


            <!-- include types lists -->
            <div class="col-md-12 ">
              <div class="row">
                <div class="col-md-12">Include type</div>

                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsleft" name="listFilterValue">

                  <button type="button" class="btn btn-light"> >> </button><button type="button" class="btn btn-light"> > </button>
                  <div class="types-list-wrapper">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action type-list-item"
                         *ngFor="let product of db  | listFilter:filtertagsleft">
                         {{product.name}} ({{product.sku}})
                      </a>

                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsright" name="listFilterValue">

                  <button type="button" class="btn btn-light"> < </button><button type="button" class="btn btn-light"> << </button>
                  <div class="types-list-wrapper">
                    <a href="#" class="list-group-item list-group-item-action type-list-item"
                       *ngFor="let product of db | listFilter:filtertagsright">
                      {{product.name}} ({{product.sku}})
                    </a>
                  </div>


                </div>
              </div>

            </div>
            <!-- end include types lists -->

            <!-- pass types lists -->
            <div class="col-md-12 ">
              <div class="row">
                <div class="col-md-12">Pass type</div>

                <div class="col-md-6">
                  <!--change ngModel! -->
                  <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsleft1" name="listFilterValue">

                  <button type="button" class="btn btn-light"> >> </button><button type="button" class="btn btn-light"> > </button>
                  <div class="types-list-wrapper">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action type-list-item"
                         *ngFor="let product of db  | listFilter:filtertagsleft1">
                        {{product.name}} ({{product.sku}})
                      </a>

                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <!--change ngModel! -->
                  <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsright1" name="listFilterValue">

                  <button type="button" class="btn btn-light"> < </button><button type="button" class="btn btn-light"> << </button>

                  <div class="types-list-wrapper">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action type-list-item"
                         *ngFor="let product of db | listFilter:filtertagsright1">
                        {{product.name}} ({{product.sku}})
                      </a>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <!-- end include types lists -->


          </div>




        </form>
      </div>
    </div>
    <!-- end popup body-->


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Add</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add new</button>





