<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new product</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">


    <!--popup body -->
    <div class="row">
      <div class="col-md-12">
        <form  #addForm="ngForm"  >

          <div class="row">
            <div class="col-md-6 py-2">
              <input class="form-control" type="text" name="newProductSku" ngModel  placeholder="SKU">
            </div>
            <div class="col-md-6 py-2">
              <input class="form-control" type="text" name="newProductName"  ngModel  placeholder="Name">

            </div>
          </div>

          <div class="row">
            <div class="col-md-6 py-2">
              <select class="form-control" name="newProductType"  placeholder="Type" ngModel="BASIC_SINGLE" >
                <option  *ngFor="let type of typeValues | keyvalue" value="{{type.key}}" >{{type.value}}</option>
              </select>
            </div>
            <div class="col-md-6 py-2">
              <select class="form-control" name="newProductCustomerType"  placeholder="Customer  Type" ngModel="ADULT" > <!-- change!! -->
                <option  *ngFor="let type of customerTypeValues | keyvalue" value="{{type.key}}" >{{type.value}}  </option>
              </select>
            </div>
          </div>

          <div class="row">
          <div class="col-md-6 py-2">
            <input class="form-control" type="text" name="newProductValidValue" placeholder="ValidValue" ngModel value="" [disabled]=" addForm.value.newProductType!='BASIC_SINGLE'"> <!-- change-->
          </div>
          <div class="col-md-6 py-2">
            <input class="form-control" type="text" name="newProductPrice" ngModel placeholder="Price" >
          </div>
        </div>
          <div class="row">
            <div class="col-md-6 py-2">
              <input class="form-control" type="text" id="newProductRechargePrice" placeholder="Recharge price" [disabled]="!addForm.value.newProductAllowRecharge"> <!-- change-->
            </div>
            <div class="col-md-6 py-2 mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" ngModel name="newProductAllowRecharge" id="newProductAllowRecharge" >
                <label class="form-check-label" for="newProductAllowRecharge">
                  Allow recharge
                </label>
              </div>
            </div>
          </div>

          <hr style="color:lightgray; width:100%;">
          <!--Type Lists -->
          <div class="row">
            <div class="col-md-12  text-center"><h5>Inner Products</h5></div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
              <!-- include types lists -->
              <ip-template [includeArr]="includeObj" [typeArr]="'include'" (changeSelectedProductsEvent) = "changeSelectedProd($event, 'include')" ></ip-template>
              <!-- end include types lists -->

              <!-- pass types lists -->
              <ip-template [includeArr]="includeObj" [typeArr]="'pass'" (changeSelectedProductsEvent) = "changeSelectedProd($event, 'pass')"></ip-template>
              <!-- end pass types lists -->

            </div>
          </div>
          <!--End type Lists -->



        </form>
      </div>
    </div>
    <!-- end popup body-->


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createNewProduct(); c('Save click')">Create</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create a product</button>





