
  <div class="row">
    <div class="col-md-12 py-3 type-list-header">{{typeArr}} type</div>

    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsleft" name="listFilterValue">

      <button type="button" class="btn btn-light w-50"> >> </button>
      <button type="button" class="btn btn-light w-50" (click)="moveSelected(true, preIncludeDB)"> > </button>
      <div class="types-list-wrapper">
        <div class="list-group">
          <button  class="list-group-item list-group-item-action type-list-item"
             (click)="toggle(product, dbTemp, preIncludeDB)"
             *ngFor="let product of dbTemp | listFilter:filtertagsleft"
             [ngClass]="{active:product.status}">
            {{product.name}} ({{product.sku}})
          </button>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsright" name="listFilterValue">

      <button type="button" class="btn btn-light w-50" (click)="moveSelected(false, preIncludeIncl)"> < </button>
      <button type="button" class="btn btn-light w-50"> << </button>
      <div class="types-list-wrapper">
        <button class="list-group-item list-group-item-action type-list-item"
           (click)="toggle(product, include, preIncludeIncl)"
           *ngFor="let product of include | listFilter:filtertagsright"
           [ngClass]="{active:product.status}">
          {{product.name}} ({{product.sku}})
        </button>
      </div>


    </div>
  </div>


