
  <div class="row">
    <div class="col-md-12 py-3 type-list-header">{{typeArr}} type</div>

    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsleft" name="listFilterValue">

      <button type="button" class="btn btn-light"> >> </button><button type="button" class="btn btn-light"> > </button>
      <div class="types-list-wrapper">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action type-list-item"
             (click)="toggle()"
             *ngFor="let product of db  | listFilter:filtertagsleft">
            {{product.name}} ({{product.sku}})
          </a>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Filter" [(ngModel)]="filtertagsright" name="listFilterValue">

      <button type="button" class="btn btn-light"> < </button><button type="button" class="btn btn-light"> << </button>
      <div class="types-list-wrapper">
        <a href="#" class="list-group-item list-group-item-action type-list-item"
           (click)="toggle()"
           *ngFor="let product of includeArr | listFilter:filtertagsright">
          {{product.name}} ({{product.sku}})
        </a>
      </div>


    </div>
  </div>


